packaging_format = 2

id = "peertube_remote_runner"
name = "PeerTube Remote Runner"
description.en = "Runner to offload high CPU/long job from Peertube main server"
description.fr = "Runner pour externaliser les tâches coûteuses d'un serveur PeerTube principal"

version = "0.4.0~ynh1"

maintainers = ["Lapineige"]

[upstream]
license = "AGPL-3.0-only"
website = "https://docs.joinpeertube.org/admin/remote-runners"
admindoc = "https://docs.joinpeertube.org/maintain/tools#peertube-runner"
code = "https://github.com/Chocobozzz/PeerTube/tree/develop/packages/peertube-runner"

[integration]
yunohost = ">= 12.1.17"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "500M"
ram.build = "500M"
ram.runtime = "1000M"

[install]
    [install.domain]
    type = "domain"
    
    [install.path]
    type = "path"
    default = "/peertube_runner"

    [install.init_main_permission]
    type = "group"
    default = "admins"
    help = "It doesn't need to be accessible to anyone. Use 'admins'."

    [install.admin]
    type = "user"
    
    [install.peertube_url]
    type = "string"
    ask.en = "Please enter Peertube URL"
    ask.fr = "Veuillez entrer l'URL de Peertube"
    help = "You need to include 'https://' in the URL"
    default = "https://"
    
    [install.runner_token]
    type = "string"
    ask.en = "Please enter the Peertube token"
    ask.fr = "Veuillez entrer le jeton Peertube"
    help = "Token generated from Peertube web admin UI"

[resources]

    [resources.system_user]

    [resources.install_dir]

    [resources.data_dir]
    subdirs = ["storage"]

    [resources.permissions]
    main.url = "/"

    [resources.apt]
    packages = "ffmpeg"
    
    extras.yarn.repo = "deb https://dl.yarnpkg.com/debian/ stable main"
    extras.yarn.key = "https://dl.yarnpkg.com/debian/pubkey.gpg"
    extras.yarn.packages = "yarn"

    [resources.nodejs]
    version = "18"
    